.row.heading.container.parallax {
  padding-top: 400px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}
textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0;
}
select {
  width: 100%;
  border-radius: 0;
}
#map_canvas embed,
#map_canvas img,
#map_canvas object,
.map_canvas embed,
.map_canvas img,
.map_canvas object,
.mqa-display embed,
.mqa-display img,
.mqa-display object {
  max-width: none !important;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
}
[data-whatinput=mouse] button {
  outline: 0;
}

.media-object {
  margin-bottom: 1rem;
  display: block;
}
.media-object img {
  max-width: none;
}
@media screen and (max-width: 39.9375em) {
  .media-object.stack-for-small .media-object-section {
    padding: 0;
    padding-bottom: 1rem;
    display: block;
  }
  .media-object.stack-for-small .media-object-section img {
    width: 100%;
  }
}
.media-object-section {
  display: table-cell;
  vertical-align: top;
}
.media-object-section:first-child {
  padding-right: 1rem;
}
.media-object-section:last-child:not(:nth-child(2)) {
  padding-left: 1rem;
}
.media-object-section > :last-child {
  margin-bottom: 0;
}
.media-object-section.middle {
  vertical-align: middle;
}
.media-object-section.bottom {
  vertical-align: bottom;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clearfix:after,
.clearfix:before {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
h1 {
  font-size: 4.5rem;
  color: #fff;
  margin: .5rem;
  letter-spacing: 5px;
}
h1,
h2 {
  font-family: brandon-grotesque, sans-serif;
  text-transform: uppercase;
}
h2 {
  margin: 0;
  font-size: 1.75rem;
}
h3 {
  font-family: RainierNorth300, Georgia;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
  margin: .5rem;
}
h3,
h4 {
  text-transform: uppercase;
}
h4 {
  font-family: brandon-grotesque, sans-serif;
  font-size: 1.125rem;
  margin: 0;
}
h5 {
  font-family: proxima-nova, sans-serif;
  letter-spacing: 5px;
  margin-bottom: 0;
  font-weight: 400;
}
h5,
h6 {
  text-transform: uppercase;
}
h6 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}
p {
  color: #8c8c8c;
  font-family: proxima-nova, sans-serif;
}
strong {
  color: #333;
  font-weight: 400;
}
@font-face {
  font-family: RainierNorth300;
  src: url(../fonts/RainierNorth300.eot);
  src: url(../fonts/RainierNorth300.eot?#iefix) format("embedded-opentype"),
    url(../fonts/RainierNorth300.woff) format("woff"),
    url(../fonts/RainierNorth300.ttf) format("truetype"),
    url(../fonts/RainierNorth300.svg#RainierNorth300) format("svg");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.pace {
  text-align: center;
  font-size: 0;
  white-space: nowrap;
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace:before {
  height: 100%;
  content: "";
}
.pace:before,
.pace > * {
  display: inline-block;
  vertical-align: middle;
}
.pace > * {
  font-size: 1rem;
  white-space: normal;
}
.pace .pace-activity {
  display: inline-block;
  position: relative;
  width: 8.4375rem;
  height: .6875rem;
  overflow: hidden;
  transition: -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
  transition: transform .3s cubic-bezier(.4, 0, .2, 1);
  transition: transform .3s cubic-bezier(.4, 0, .2, 1),
    -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: center right;
  transform-origin: center right;
  z-index: 2;
}
.pace .pace-activity:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-animation: a 1.2s cubic-bezier(.4, 0, .2, 1) infinite forwards;
  animation: a 1.2s cubic-bezier(.4, 0, .2, 1) infinite forwards;
}
@-webkit-keyframes a {
  0% {
    -webkit-transform: translate(0) scaleX(0);
    transform: translate(0) scaleX(0);
  }
  30% {
    -webkit-transform: translate(0) scaleX(1);
    transform: translate(0) scaleX(1);
  }
  80% {
    -webkit-transform: translate(100%) scaleX(0);
    transform: translate(100%) scaleX(0);
  }
  to {
    -webkit-transform: translate(100%) scaleX(0);
    transform: translate(100%) scaleX(0);
  }
}
@keyframes a {
  0% {
    -webkit-transform: translate(0) scaleX(0);
    transform: translate(0) scaleX(0);
  }
  30% {
    -webkit-transform: translate(0) scaleX(1);
    transform: translate(0) scaleX(1);
  }
  80% {
    -webkit-transform: translate(100%) scaleX(0);
    transform: translate(100%) scaleX(0);
  }
  to {
    -webkit-transform: translate(100%) scaleX(0);
    transform: translate(100%) scaleX(0);
  }
}
.pace {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  transition: visibility 0s;
}
.pace-done .pace .pace-activity:after {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.pace-done .pace .pace-activity {
  visibility: hidden;
  transition-delay: .6s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.pace-done body > :not(.pace),
body:after,
body:before {
  transition: opacity .4s ease-in-out;
}
body:not(.pace-done):after,
body:not(.pace-done):before,
body:not(.pace-done) > :not(.pace) {
  opacity: 0;
}
.pace-inactive .pace-progress {
  right: 0;
}
body,
html {
  background-color: #333;
  width: 100%;
  height: 100%;
}
.row {
  position: relative;
}
.main-container {
  max-width: 1680px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;
}
.opl {
  display: inline-block;
  position: relative;
  right: 0;
  top: 100px;
  z-index: 999999;
}
.animatebackground {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #333;
}
.background-image.parallax {
  top: 0;
  bottom: -3rem;
}
.hero {
  position: relative;
  overflow: hidden;
  height: 300px;
  height: 100vh;
}
@media screen and (min-width: 64em) {
  .hero {
    height: 600px;
    height: 100vh;
  }
}
.hero-background {
  background-color: #333;
  height: 100%;
  width: auto;
}
.background-image,
.hero-background {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
.background-image {
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  z-index: 1;
  background: url(/assets/img/intro.jpg);
  background-position: 50%;
  transition-property: none;
}
@media screen and (max-width: 39.9375em) {
  .background-image {
    background-image: url(/assets/img/introMobile.jpg);
  }
}
.names {
  text-align: center;
  text-shadow: 0 0 40px rgba(0, 0, 0, .25);
  margin: 0;
}
@media screen and (max-width: 39.9375em) {
  .names {
    font-size: 2.5rem;
  }
}
.message {
  text-align: center;
  text-shadow: 0 0 40px rgba(0, 0, 0, .25);
  margin: -1rem;
}
@media screen and (max-width: 39.9375em) {
  .message {
    font-size: 1.75rem;
  }
}
.backgroundcontainer {
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.container {
  z-index: 20;
  position: relative;
  text-align: center;
}
.hidden {
  visibility: hidden;
  position: absolute;
}
.decorative {
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 39.9375em) {
  .decorative {
    margin-bottom: .75rem;
    height: 2.5rem;
  }
}
.story {
  padding: 3rem 0;
}
@media screen and (min-width: 64em) {
  .story {
    padding: 7rem 0 3rem;
  }
}
.story p {
  margin: .25rem 0 0;
  text-align: justify;
}
.story .ashley,
.story .jeff {
  margin-bottom: 2rem;
}
@media screen and (min-width: 64em) {
  .story .ashley {
    padding-right: 1.5rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 64em) {
  .story .jeff {
    padding-left: 1.5rem;
    margin-bottom: 0;
  }
}
.quote {
  margin-bottom: 5rem;
}
@media screen and (min-width: 40em) {
  .quote {
    margin-bottom: -4rem;
  }
}
@media screen and (min-width: 64em) {
  .quote {
    position: relative;
    margin-bottom: -7.5rem;
  }
}
.quote blockquote {
  border-top: 2px solid #acbcb4;
  border-bottom: 2px solid #acbcb4;
  margin: 0;
}
.quote blockquote p {
  font-family: RainierNorth300, Georgia;
  text-align: center;
}
@media screen and (max-width: 39.9375em) {
  .quote blockquote p {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 40em) {
  .quote blockquote p {
    font-size: 1.75rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 64em) {
  .quote blockquote p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.slider {
  width: 100%;
  float: left;
  overflow: hidden;
}
.slider .mainslider {
  width: 51.5%;
}
@media screen and (max-width: 63.9375em) {
  .slider .mainslider {
    display: none;
  }
}
.slider .columns {
  padding: 0;
}
.slider .slick-slide {
  display: none;
  float: left;
  outline: none;
  height: 100%;
  min-height: 1px;
}
@media screen and (min-width: 64em) {
  .slider .slick-slide {
    padding-bottom: 32rem;
    overflow: hidden;
    position: relative;
  }
}
.slider .slick-slide div {
  width: 100%;
  background-position: 50% !important;
}
.slider .slick-slide img {
  display: block;
  width: 100%;
}
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  background-color: #1f3b48;
  font-size: 0;
  cursor: pointer;
  z-index: 100;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-next:hover,
.slick-prev:hover {
  background-color: #244453;
}
.slick-prev {
  display: none;
  background-color: transparent;
  cursor: move;
}
.slick-prev:hover {
  display: none !important;
}
.slick-next {
  right: -49px;
  top: 50%;
  background-image: url(/assets/img/rightarrow.svg);
  background-position: 50% 50%;
  background-size: 1rem;
  background-repeat: no-repeat;
  transition: .3s ease;
}
.slick-next:hover {
  background-position: 60% 50%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-next:before,
.slick-prev:before {
  color: #000;
}
.thumbnails .thumbnail .slick-list {
  padding: 5rem 0;
  overflow: hidden;
}
@media screen and (min-width: 64em) {
  .thumbnails .thumbnail .slick-list {
    margin-right: -1.875rem;
  }
}
@media screen and (min-width: 64em) {
  .thumbnails .thumbnail .slick-list:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.875rem;
    height: 100%;
    right: 0;
    background-color: #fff;
    z-index: 100;
  }
}
.thumbnails .thumbnail .slick-slide {
  margin: 0 2rem 0 0;
  cursor: move;
  display: block;
  float: left;
  outline: none;
}
@media screen and (max-width: 39.9375em) {
  .thumbnails .thumbnail .slick-slide {
    opacity: .5;
    -webkit-transform: scale(.95);
    transform: scale(.95);
    transition: all .3s ease;
  }
}
@media screen and (max-width: 63.9375em) {
  .thumbnails .thumbnail .slick-slide {
    margin: 0 .5rem;
  }
}
.thumbnails .thumbnail .slick-slide img {
  box-shadow: 0 35px 55px -25px rgba(0, 0, 0, .35);
}
@media screen and (max-width: 39.9375em) {
  .thumbnails .thumbnail .slick-slide.slick-center {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 63.9375em) {
  .thumbnails .thumbnail .slick-next {
    visibility: hidden;
    right: inherit;
  }
}
@media screen and (max-width: 39.9375em) {
  .thumbnailcontainer {
    padding: 0;
  }
}
@media screen and (min-width: 64em) {
  .thumbnailcontainer {
    position: relative;
    margin-top: -23rem;
    padding: 0;
  }
}
@media screen and (min-width: 64em) {
  .wedding {
    margin-top: 12rem;
  }
}
@media screen and (min-width: 64em) {
  .wedding .columns,
  .wedding h3 {
    position: relative;
    z-index: 3;
  }
}
@media screen and (min-width: 64em) {
  .wedding h3 {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 64em) {
  .wedding h3,
  .wedding h4 {
    color: #3d3428;
  }
}
@media screen and (min-width: 64em) {
  .wedding p {
    padding-right: 1.75rem;
  }
}
.background {
  position: relative;
}
.background .parent {
  position: absolute;
  width: 100%;
  height: 100%;
}
.background .child {
  background-color: #f8f3ed;
  position: absolute;
  left: 0;
  width: auto;
  top: 0;
  bottom: 0;
  float: right;
}
.background .medium-5 {
  margin-bottom: 4rem;
}
@media screen and (min-width: 64em) {
  .background .medium-5 {
    margin-bottom: 14rem;
  }
}
.background h2 {
  margin: 5rem 0 2rem;
}
@media screen and (min-width: 64em) {
  .background h3 {
    margin: 5rem 0 0;
  }
}
@media screen and (min-width: 64em) {
  .background .child {
    border-right: .625rem solid #fff;
  }
}
.timeline {
  padding: 3rem 0;
}
@media screen and (min-width: 64em) {
  .timeline {
    position: relative;
    padding: 0;
  }
}
@media screen and (min-width: 64em) {
  .timeline .row {
    position: relative;
    z-index: 100;
  }
}
@media screen and (min-width: 64em) {
  .timeline p {
    margin: 0;
  }
}
.timeline-background {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 39.9375em) {
  .timeline-background {
    margin-top: 0;
  }
}
@media screen and (min-width: 64em) {
  .timeline-background {
    margin-top: -6rem;
  }
}
.timeline-background:before {
  content: '';
  background-color: #fff;
  width: 0;
  height: 100%;
  position: absolute;
  left: -3rem;
  top: 0;
  bottom: 0;
  border: 2rem solid #fff;
}
.time {
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (min-width: 64em) {
  .time {
    margin-top: -2.5rem;
  }
}
.time p {
  margin: 0;
}
@media screen and (min-width: 64em) {
  .time img {
    margin-bottom: 1.25rem;
  }
}
.button {
  transition: opacity .7s cubic-bezier(.19, 1, .22, 1) 0ms;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: 0;
  text-align: center;
  color: #fff;
  font-family: brandon-grotesque, sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 63.9375em) {
  .button {
    border: 2px solid rgba(31, 59, 72, .4);
    color: #1f3b48;
    margin: 2rem 1.875rem;
    padding: 1rem;
    display: block;
    position: relative;
  }
}
@media screen and (min-width: 64em) {
  .button {
    background-color: #1f3b48;
    height: 50px;
    width: 50px;
  }
}
@media screen and (min-width: 64em) {
  .button .button-text {
    display: none;
  }
}
.button span {
  transition: -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
  transition: transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
  transition: transform .7s cubic-bezier(.19, 1, .22, 1) 0ms,
    -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
  -webkit-backface-visibility: hidden;
}
.button:hover {
  background-color: #244453;
}
@media screen and (max-width: 63.9375em) {
  .button:hover {
    border: 2px solid #1f3b48;
    background-color: transparent;
    color: #1f3b48;
  }
}
@media screen and (min-width: 40em) {
  .squares {
    float: left;
    width: 18px;
    height: 15px;
    margin: 18px;
  }
}
@media screen and (max-width: 39.9375em) {
  .squares {
    visibility: hidden;
  }
}
.squares span {
  display: block;
  height: 3px;
  width: 3px;
  background: #fff;
  margin: 0 3px 3px 0;
  float: left;
}
.button:hover .squares span:nth-child(1),
.button:hover .squares span:nth-child(2) {
  -webkit-transform: translate3d(6px, 0, 0);
  transform: translate3d(6px, 0, 0);
}
.button:hover .squares span:nth-child(3) {
  -webkit-transform: translate3d(0, 6px, 0);
  transform: translate3d(0, 6px, 0);
}
.button:hover .squares span:nth-child(4) {
  -webkit-transform: translate3d(0, -6px, 0);
  transform: translate3d(0, -6px, 0);
}
.button:hover .squares span:nth-child(6) {
  -webkit-transform: translate3d(0, 6px, 0);
  transform: translate3d(0, 6px, 0);
}
.button:hover .squares span:nth-child(7) {
  -webkit-transform: translate3d(0, -6px, 0);
  transform: translate3d(0, -6px, 0);
}
.button:hover .squares span:nth-child(8),
.button:hover .squares span:nth-child(9) {
  -webkit-transform: translate3d(-6px, 0, 0);
  transform: translate3d(-6px, 0, 0);
}
a {
  color: #333;
}
a,
a.link {
  text-decoration: none;
}
a.link {
  position: relative;
  display: inline-block;
  color: #666;
  padding: 0 1px;
  transition: color .3s ease;
  font-weight: 700;
  font-family: proxima-nova, sans-serif;
  color: #333;
}
a.link:after,
a.link:before {
  content: '';
  position: absolute;
  background-color: #acbcb4;
  z-index: -1;
  height: 2px;
}
a.link:before {
  width: 0;
  left: 0;
  bottom: 0;
  transition: width .4s ease;
}
a.link:after {
  width: 100%;
  left: 0;
  bottom: 0;
  transition: all .6s ease;
}
a.link:hover:before {
  width: 100%;
}
a.link:hover:after {
  left: 100%;
  width: 0;
  transition: all .2s ease;
}
.engagement {
  color: #fff;
}
@media screen and (min-width: 64em) {
  .engagement {
    visibility: hidden;
    position: absolute;
  }
}
.registry {
  padding: 3rem 0;
}
@media screen and (min-width: 64em) {
  .registry {
    padding: 10rem 0;
  }
}
.registry p {
  margin: .25rem 0 2rem;
}
@media screen and (min-width: 64em) {
  .registry p {
    margin: 0 0 3rem;
  }
}
.gift {
  padding: 1rem 2rem 1rem 0;
  display: inline-block;
  opacity: .4;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
@media screen and (min-width: 64em) {
  .gift:hover {
    opacity: 1;
  }
}
@media screen and (max-width: 39.9375em) {
  .gift img {
    width: 85%;
  }
}
footer a img:hover {
  -webkit-animation: b .82s cubic-bezier(.36, .07, .19, .97) both;
  animation: b .82s cubic-bezier(.36, .07, .19, .97) both;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@-webkit-keyframes b {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0);
  }
}
@keyframes b {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0);
  }
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 25px;
  height: 40px;
  margin-left: -20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .75);
  border-radius: 25px;
  z-index: 20;
  bottom: 2.5rem;
}
@media screen and (max-width: 39.9375em) {
  .icon-scroll {
    display: none;
  }
}
.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: -2px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: c;
  animation-name: c;
}
@-webkit-keyframes c {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes c {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
footer {
  text-align: center;
}
footer p {
  padding: 4rem 0;
}
footer img,
footer p {
  display: inline-block;
}
.grid {
  max-width: 65rem;
}
@media screen and (min-width: 64em) {
  .grid {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 39.9375em) {
  .grid {
    margin: 1rem;
  }
}
.grid-item {
  float: left;
  padding-bottom: 33%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1%;
  background-color: #e8e8e8;
}
.gutter-sizer {
  width: 1%;
}
.grid-item--one-third {
  width: 33%;
  padding-bottom: 22%;
  float: left;
}
@media screen and (max-width: 39.9375em) {
  .grid-item--one-third {
    width: 100%;
    padding-bottom: 67%;
  }
}
.grid-item--half {
  width: 49.5%;
  float: left;
}
@media screen and (max-width: 39.9375em) {
  .grid-item--half {
    width: 100%;
    padding-bottom: 67%;
  }
}
.grid-item--two-third {
  width: 66%;
  padding-bottom: 45%;
  float: left;
}
@media screen and (max-width: 39.9375em) {
  .grid-item--two-third {
    width: 100%;
    padding-bottom: 67%;
  }
}
.grid-item--full {
  width: 100%;
  padding-bottom: 70%;
  height: 0;
  float: left;
}
.tall {
  padding-bottom: 67%;
  float: left;
}
@media screen and (max-width: 39.9375em) {
  .tall {
    width: 100%;
    padding-bottom: 135%;
  }
}
.modal .grid:after {
  content: '';
  display: block;
  clear: both;
}
.spacer {
  width: 100%;
  height: 8rem;
  background-color: transparent;
  padding-bottom: 0;
}
.modal,
body.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.modal .modal-content {
  height: 100%;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.modal img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal .modal-close {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  height: 3rem;
  width: 3rem;
  background-image: url(/assets/img/icons/close.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: visibility 0s .3s, opacity .3s 0s, -webkit-transform .3s 0s;
  transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s;
  transition: transform .3s 0s, visibility 0s .3s, opacity .3s 0s,
    -webkit-transform .3s 0s;
  box-shadow: 0 15px 60px rgba(0, 0, 0, .2);
  border-radius: 100rem;
}
.modal .modal-close span {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -21px;
  font-size: .75rem;
  letter-spacing: 1px;
}
.modal.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity .7s, visibility 0s;
}
.modal.visible .modal-content {
  -webkit-overflow-scrolling: touch;
}
.modal.visible .modal-close {
  visibility: visible;
  background-color: rgba(0, 0, 0, .25);
  opacity: 1;
  transition: visibility 0s 0s, opacity .3s 0s, -webkit-transform .3s 0s;
  transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s;
  transition: transform .3s 0s, visibility 0s 0s, opacity .3s 0s,
    -webkit-transform .3s 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.modal.visible .modal-close:hover {
  background-color: rgba(0, 0, 0, .5);
}
.transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.no-cssanimations .transition-layer {
  display: none;
}
#main-scrollbar,
#modal-scrollbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100;
}
[data-scrollbar],
[scrollbar],
scrollbar {
  display: block;
  position: relative;
}
[data-scrollbar] .scroll-content,
[scrollbar] .scroll-content,
scrollbar .scroll-content {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
[data-scrollbar].sticky .scrollbar-track,
[scrollbar].sticky .scrollbar-track,
scrollbar.sticky .scrollbar-track {
  background: hsla(0, 0%, 87%, .75);
}
[data-scrollbar] .scrollbar-track,
[scrollbar] .scrollbar-track,
scrollbar .scrollbar-track {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity .5s ease-out, background .5s ease-out;
  background: none;
}
[data-scrollbar] .scrollbar-track.show,
[data-scrollbar] .scrollbar-track:hover,
[scrollbar] .scrollbar-track.show,
[scrollbar] .scrollbar-track:hover,
scrollbar .scrollbar-track.show,
scrollbar .scrollbar-track:hover {
  opacity: 1;
}
[data-scrollbar] .scrollbar-track:hover,
[scrollbar] .scrollbar-track:hover,
scrollbar .scrollbar-track:hover {
  background: hsla(0, 0%, 87%, .75);
}
[data-scrollbar] .scrollbar-track-x,
[scrollbar] .scrollbar-track-x,
scrollbar .scrollbar-track-x {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}
[data-scrollbar] .scrollbar-track-y,
[scrollbar] .scrollbar-track-y,
scrollbar .scrollbar-track-y {
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
}
[data-scrollbar] .scrollbar-thumb,
[scrollbar] .scrollbar-thumb,
scrollbar .scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, .5);
  border-radius: 4px;
}
[data-scrollbar] .overscroll-glow,
[scrollbar] .overscroll-glow,
scrollbar .overscroll-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parallax-background {
  position: absolute;
  height: 125%;
  width: 100%;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.parallax-container {
  position: relative;
  height: 100%;
  z-index: 1;
}
